body {
    background-color: #f4f4f4;
}

h3 {
    color: #343a40;
    margin-bottom: 20px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #343a40;
}

.nav-pills .nav-link {
    color: #343a40;
}


/* Mes portails */
.card-img-top {
    height: 300px;
    object-fit: cover;
    width: 100%;
}

.card {
    transition: transform .2s;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
}

.card-body {
    height: 250px;  /* Ajustez cette valeur en fonction de vos besoins */
    overflow: hidden;  /* Cache tout contenu qui dépasse la hauteur maximale */
}