body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#tab {
    width: 400px;
    border: 2px solid purple;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#tab img {
    width: 120px;
    height: 122px;
    border: 0.5px solid lightblue;
    object-fit: cover;
}

#pieces {
    width: 1040px;
    height: 160px;
    border: 2px solid purple;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#pieces img {
    width: 79px;
    height: 79px;
    border: 0.5px solid lightblue;
    object-fit: cover;
    margin: 5px;
}
@media screen and (max-width: 380px) {
    body {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
    }
    
    #tab {
        width: 400px;
        border: 2px solid purple;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    #tab img {
        width: 120px;
        height: 122px;
        border: 0.5px solid lightblue;
        object-fit: cover;
    }
    
    #pieces {
        width: 1040px;
        height: 160px;
        border: 2px solid purple;
        margin: 20px auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    #pieces img {
        width: 79px;
        height: 79px;
        border: 0.5px solid lightblue;
        object-fit: cover;
        margin: 5px;
    }
}